body {
    height: 100vh;
    background: var(--bs-gray-dark);
}

.progress {
    background-color: rgba(0, 0, 0, 0.30);
}

.modal-content {
    background-color: rgb(255, 238, 139);
}

.card-4 {
    background-color: rgb(255, 238, 139);
}