{% extends "Main.html" %}

{% block title %}
    project creation page
{% endblock %}

{% block main %}
    <div class="container-fluid align-content-center mt-1 mb-auto">
        <h3 class="text-warning text-md-center">
            Create your project here
        </h3>
    </div>
    <div class="m-sm-4 p-2">
        <form class="ms-sm-2 mb-sm-auto" id="formZone">
            <label class="form-label text-warning h5" id="labelForm1" for="Pname">
                Project Name:</label>
            <input class="form-control" id="Pname" type="text"
                   aria-describedby="labelForm1">
            <label class="form-label text-warning h5" id="labelForm2" for="Pobj">
                Project Objective:</label>
            <input class="form-control" id="Pobj" type="text"
                   aria-describedby="labelForm2">
            <label class="form-label text-warning h5" id="labelForm3" for="Ptotal">
                Project Objective amount:</label>
            <input class="form-control" id="Ptotal" type="number"
                   aria-describedby="labelForm3">
            <label class="form-label text-warning h5" id="labelForm4" for="Pdate">
                Project date objective:</label>
            <input class="form-control" id="Pdate" type="date"
                   aria-describedby="labelForm4">
            <div class="row-cols-sm-auto row text-warning">
                <div class="col-sm-auto col h5">
                    Project saving/step rate:
                </div>
            </div>
            <div class="form-check form-check-inline mx-sm-2">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                       value="1" checked>
                <label class="form-check-label text-warning" for="inlineRadio1">1/Day</label>
            </div>
            <div class="form-check form-check-inline mx-sm-2">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                       value="7">
                <label class="form-check-label text-warning" for="inlineRadio2">7/Week</label>
            </div>
            <div class="form-check form-check-inline mx-sm-2">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                       value="30">
                <label class="form-check-label text-warning" for="inlineRadio3">1/Month</label>
            </div>
            <div class="my-sm-5">
                <button class="btn btn-warning text-dark" id="Finalize">
                    Finalize
                </button>
            </div>
        </form>
    </div>
{% endblock %}


{% block body %}

{% endblock %}

{% block scriptJS %}
    <script src="../static/JS/JSDATACLASS/DataValidation.js" type="application/javascript"></script>
    <script src="../static/JS/JSUTILSFORSITE/CheckMover.js"></script>
{% endblock %}