{% extends "Main.html" %}

{% block title %}
    project creation page
{% endblock %}

{% block main %}
    <div class="container-fluid align-content-center mt-1 mb-auto">
        <h3 class="text-warning text-md-center">
            Create your project here
        </h3>
    </div>
    <form id="formZone">
        <div class="m-sm-1 m-auto">
            <label class="form-label text-warning h5" id="labelForm" for="text-form">
                Project Name:</label>
            <input class="form-control" id="text-form" type="text"
                   aria-describedby="labelForm">
        </div>
        <div class="mt-sm-5 m-auto">
            <button class="btn btn-warning text-dark" type="submit" id="Finalize">
                Finalize
            </button>
        </div>
    </form>
{% endblock %}


{% block body %}

{% endblock %}

{#@TODO:aggiugnere e testare lo script#}