<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!--JQUERY GOOGLE CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--BOOTSTRAP RWD FRAMEWORK FOR STYLE-->
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          rel="stylesheet">
    <!--MANIFEST AND VIEWPORT FOR DEVICE SCALING-->
    <link rel="manifest" href="../static/PWA%20FILES/manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TIA">
    <meta name="apple-mobile-web-app-title" content="TIA">
    <meta name="theme-color" content="#ffc107">
    <meta name="msapplication-navbutton-color" content="ffc107">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="{{ url_for("home") }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--CSS-->
    <link rel="stylesheet" href="../static/CSS/Style.css">
    <!--OTHERS-->
    <meta charset="UTF-8">
    <title>
        {% block title %}
            TIME IS APP
        {% endblock %}
    </title>
</head>

<body class="d-flex flex-column min-vh-100">
<header>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand-md navbar-light bg-warning bg-gradient">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for("home") }}">
                <i class="bi bi-alarm-fill d-inline-block align-baseline" style="font-size: 1.2rem">
                </i>
                TIME IS APP
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav">
                    {#
                            A quanto pare è assolutamente consigliato usare l'url_for (anche senza l'import in flask)
                            senza di quello con il normale /route l'ide crede di stare cercando un file ed alza warning
                            anche se poi funziona comunque, probabilemnte è dovuto a Jinja2 che incorpora l'url_for.
                        #}
                    <a class="nav-link" id="/" href="{{ url_for("home") }}">HOME</a>
                    <a class="nav-link" id="/test/" href="{{ url_for("test") }}">TESTPAGE</a>
                    <a class="nav-link" id="/user/" href="{{ url_for("user") }}">MY PROJECTS</a>
                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-end">
                <a class="navbar-brand" href="{{ url_for("logout") }}">
                    <i class="bi bi-x-circle-fill d-inline-block align-baseline" style="font-size: 1.2rem">LOGOUT</i>
                </a>
                <a class="navbar-brand" href="{{ url_for("login") }}">
                    <i class="bi bi-person-fill d-inline-block align-baseline" style="font-size: 1.2rem">LOGIN</i>
                </a>
            </div>

        </div>
    </nav>
    {% block header %}

    {% endblock %}
</header>

<main>
    {% block main %}
        <div class="bodie">
            {% block content %}
            {% endblock %}
            <div class="text-light text-center text-warning mx-3">
                <h1>Stop wasting <span class="text-warning">TIME</span>, use it better!</h1>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto mb-4 text-center">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-warning text-dark" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                            Start now!
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modals -->
        <!-- <section id="LoginRegister">
            <div class="modal fade" id="LoginModal" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="LoginHeader">Login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <form class="px-4 py-3">
                                    <div class="mb-3">
                                      <label for="Email" class="form-label">Email address</label>
                                      <input type="email" class="form-control" id="Email" placeholder="email@example.com">
                                    </div>
                                    <div class="mb-3">
                                      <label for="Password" class="form-label">Password</label>
                                      <input type="password" class="form-control" id="Password" placeholder="Password">
                                    </div>
                                    <div class="mb-3">
                                      <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                        <label class="form-check-label" for="dropdownCheck">
                                          Remember me
                                        </label>
                                      </div>
                                    </div>
                                    <button type="submit" class="btn btn-dark text-warning border-dark">Sign in</button>
                                </form>

                        </div>
                        <div class="modal-footer  text-dark mb-0">
                            <a class="dropdown-item" href="url cazz">New around here? Sign up</a>
                            <a class="dropdown-item" href="#">Forgot password? So cazz re tuoj</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>-->

        <section id="ModalDialogue">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-dark" id="staticBackdropLabel">Adding new objective...</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Modal body-->
                            <div class="mb-3 border-dark">
                                <label for="nameOfObjective" class="form-label">Name of objective:</label>
                                <input class="form-control" type="text" id="nameOfObjective">
                            </div>
                            <label for="nameOfList">Select the right button:</label>
                            <div class="row" id="nameOfList">
                                <div class="col-auto">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active list-group-item-dark"
                                           id="list-concrete-id" data-bs-toggle="list" href="#list-concrete"
                                           role="tab" aria-controls="list-home">Concrete</a>
                                        <a class="list-group-item list-group-item-action list-group-item-dark"
                                           id="list-abstract-id"
                                           data-bs-toggle="list" href="#list-abstract" role="tab"
                                           aria-controls="list-profile">Abstract</a>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="list-concrete"
                                             role="tabpanel"
                                             aria-labelledby="list-concrete-id">You are reaching something like:
                                            Studying a book, put money aside, pianification for a purchase (Here we
                                            can calculate an ideal path)
                                        </div>
                                        <div class="tab-pane fade" id="list-abstract" role="tabpanel"
                                             aria-labelledby="list-abstract-id">Reaching something like: changing
                                            your way of life (Here you have to select the path of objectives).
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-dark btn-outline-danger text-warning border-dark"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-dark btn-outline-success text-warning border-dark">
                                Save
                                and add
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--CARUSEL-->
        <section id="Slideshow">
            <div id="carouselExampleIndicators" class="carousel slide mx-md-5 px-md-5" data-bs-ride="carousel">
                <div class="carousel-indicators mb-0">

                </div>
                <div class="carousel-inner">

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    {% endblock %}
</main>


{% block body %}


{% endblock %}

<!--FOOTER WITH BOOTSTRAP CONTANIERS-->
{#    https://stackoverflow.com/questions/40853952/bootstrap-footer-at-the-bottom-of-the-page#}
<footer class="mt-auto bg-warning bg-gradient">
    <div class="container text-black">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase"> TECHWEB PROJECT</h5>
                <p>
                    Web app made by:<br>
                <p style="font-family:'Courier New',serif">-Luca Maiuri MT 0124001418<br>
                    -Christian Porritiello MT 0124002014<br></p>
            </div>
            <div class="col">
            </div>
            <div class="col align-self-center">
                <h4><i class="bi bi-alarm-fill d-inline-block align-baseline" style="font-size: 1.2rem">
                </i>
                    TIME IS APP</h4>
            </div>
        </div>
    </div>
</footer>


<!--BOOTSTRAP JS LIBRARY CDN -->
<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<!--BOOTSTRAP ICON SET-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<!--JS SCRIPTS RESERVED-->
<script src="../static/JS/AriaChanger.js"></script>
<script src="../static/JS/DynamicHtmlJS/ELEMENTCREATORS/CardCreator.js"></script>
<script src="../static/JS/JSMAINS/MAINPAGEJS/MainPageExec.js"></script>
{% block scriptJS %}

{% endblock %}

</body>

</html>