{% extends "Main.html" %}
{# blocco tile #}
{% block title %}
    Testing
{% endblock %}

{#blocco main , non richiamo gli elementi#}
{% block main %}
    <h3 class="text-warning text-lg-center align-content-center">
        PAGE TESTING
    </h3>
{% endblock %}
{#blocco body interno#}
{% block body %}

    <div class="container-lg border-1 border border-warning" id="test">
        <div class="row row-cols-auto align-items-center g-md-2 p-md-2" id="showcase">

        </div>
    </div>


{% endblock %}

{#blocco script JS richiamo gli elementi #}
{% block scriptJS %}
    <script src="../static/JS/DynamicHtmlJS/ELEMENTCREATORS/CardCreator.js">
    </script>
    <script src="../static/JS/DynamicHtmlJS/DynamicMain.js">
    </script>
{% endblock %}

