{% extends "Main.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    <div class="container-fluid text-center ">
        <h1 class="text-warning text-capitalize ">
            User page, testing db and forms
        </h1>
    </div>
    <!-- Accordion per schede-->
    <div class="container-lg align-content-start" id="accordionContainer">
        <div class="accordion>" id="schede">
            <div class="accordion-item">
                <h2 class="accordion-header" id="scheda1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#header1"
                            aria-expanded="false" aria-controls="header1">
                        Scheda 1
                    </button>
                </h2>
                <div class="accordion-collapse collapse" id="header1" aria-labelledby="scheda1">
                    <div class="accordion-body" id="testo">
                        lorem ipsum
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}

{% block bootstrapJS %}
    {{ super() }}
{% endblock %}
