{% extends "Main.html" %}

{% block title %}
    User page testing
{% endblock %}

{% block main %}
    <div class="container-fluid text-center ">
        <h1 class="text-warning text-capitalize ">
            User page, testing db and forms
        </h1>
    </div>


    <section>
        <ul class="list-group px-lg-5 w-auto">
            {#            @todo: cambiare il background e il colore della barra di caricamento sono troppo forti, ridurre le schede#}
            <li class="list-group-item bg-warning m-2 w-auto">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-auto me-auto">
                            <h5 id="ProjectTabHead">
                                Porject Title
                            </h5>
                            <p id="ProjectTabParagraph">
                                Project obj
                            </p>
                        </div>
                        <div class="col-auto">
                            <a class="btn bg-dark text-warning" href="{{ url_for("home") }}" id="TabButton">
                                Project page
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="progress w-auto">
                                <div class="progress-bar progress-bar-striped bg-dark text-white" role="progressbar"
                                     style="width: 25%;" aria-valuenow="25"
                                     aria-valuemin="0" aria-valuemax="100">
                                    25%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
{% endblock %}

{% block scriptJS %}
    <script src="../static/JS/DynamicHtmlJS/ELEMENTCREATORS/ListGroupCreator.js">
    </script>
    <script src="../static/JS/DynamicHtmlJS/DynamicMain2.js">
    </script>
{% endblock %}


