{% extends "Main.html" %}

{% block title %}
    User page testing
{% endblock %}

{% block main %}
    <section>
        <div class="container-md py-md-2 m-md-2">
            <div class="row justify-content-md-start py-md-2">
                <div class="col-xl-auto mb-4">
                    <a type="button" class="btn btn-warning text-dark" role="button" href="{{ url_for('create') }}">
                         Create Project
                    </a>
                </div>
            <div class="row justify-content-md-start py-md-2">
                <div class="col-xl-auto mb-4">
                    <h4 class="text-warning">Project list:</h4>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section>
        <ul class="list-group container-sm py-4" id="projects">

        </ul>
    </section>
{% endblock %}

{% block scriptJS %}
    <script src="../static/JS/JSDYNAMICHTML/ELEMENTCREATORS/list_group_creator.js">
    </script>
    <script src="../static/JS/JSASYNCDATA/MongoDataHandler.js">
    </script>
    <script src="../static/JS/JSMAINS/USERPROJECTPAGE/UsrProjMain.js">
    </script>
{% endblock %}


